.card-container{
    width: 638px;
    height: 232px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;         /* ADD */

    position: relative;
    transition: width 0.5s, height 0.5s;
    background-color: rgba(58, 200, 58, 0.878);
    border-radius: 2%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.card-img{
    width: 68px;
    height: 68px;
    border-radius: 500px;
    margin: 1%;
}