.line{
    top: 2032px;
    left: 1114px;
    width: 100%;
    height: 0px;
    /* UI Properties */
    border-top: 2px solid #519259;
    opacity: 1;
}
.text{
    top: 2076px;
    padding-top: 6%;
    margin-bottom: 12%;    
    /* UI Properties */
    text-align: center;

    color: #121412;
    opacity: 1;
}


.h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.5em;
}

.h2{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.5em;

}
.h3{
    color: darkorange;
    font-size: 1.5em;

}

.farm-cont{
    display: flex;
    flex-direction:column;
    
}

.farm-box1{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.farm-fork{
    background-color: #cde8cf;
    margin: 15px;
}