
.border1{
    position: relative;
    top: 145px;
    left: 40px;
    width: 0px;
    height: 71px;
    /* UI Properties */
    border: 10px solid #519259;
    
}
.text1{
    position:relative;
    width: 22%;
    left: 10%;
    top: 195%;
    margin-top: 5%;
    font: normal normal bold 50px/76px Poppins;
    letter-spacing: 0px;
    color: #080808;

}
.contbox{
    height: 4%;
    width: 60%;
    padding: 6%;
    margin-top: 07%;
    margin-left: 20%;
    background-color: yellowgreen;
    object-fit:cover;
}