.grid-container{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #aef3b9;
    padding: 10px;
}
.footer{
    
    bottom:0;

    width:100%;
    margin-top: 2%;
    
}
.container-2{
    display: flex;
    margin-top: 0%;
    margin-left: 0%;
    justify-content: space-evenly;
}